{% extends "base.html" %}
{% load static %}

  <head>
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'cardapio/css/cardapio.css' %}">
  </head>


  {% block 'body' %}


  <div id="ResultadoFrete" class="col">
    <div class="card">
      <div class="card-body">
        <h2><p>{{ resultado }}</p></h2>
        </p>
      </div>
    </div>
  </div>

  <div style="background-color: #160A0C; color: white; text-align: center; padding: 20px;">

    <h2>Calculadora de Frete</h2>
    <div style="margin-bottom: 20px;">
      <form method="post" action="{% url 'calcula_frete' %}" style="display: flex; flex-direction: column; align-items: center;">
        {% csrf_token %}
        <div style="margin-bottom: 10px; width: 100%; max-width: 300px; text-align: left;">
          <label for="rua">Rua ou Avenida:</label>
          <input type="text" placeholder="Digite o nome da rua ou avenida" id="rua" name="rua" required style="width: 100%; padding: 5px; box-sizing: border-box; margin-top: 5px;">
        </div>
        <div style="margin-bottom: 10px; width: 100%; max-width: 300px; text-align: left;">
          <label for="num">Número:</label>
          <input type="text" placeholder="Digite o número do imóvel" id="num" name="num" required style="width: 100%; padding: 5px; box-sizing: border-box; margin-top: 5px;">
        </div>
        <div style="margin-bottom: 10px; width: 100%; max-width: 300px; text-align: left;">
          <label for="city">Cidade:</label>
          <input type="text" id="city" placeholder="Digite a cidade do imóvel" name="city" required style="width: 100%; padding: 5px; box-sizing: border-box; margin-top: 5px;">
        </div>
        <div>

          <button class="btn btn-outline-warning" type="submit" aria-controls="offcanvasWithBothOptions" aria-label="Calcular Frete">Calcular Frete</button>

        </div>
      </form>
    </div>
    
  </div>

  <script src="{% static 'cardapio/js/cardapio.js' %}"></script>  
  <script src="{% static 'general/js/base.js' %}"></script>  

{% endblock %}