{% extends "base.html" %}
{% load static %}

  <head>
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'cardapio/css/cardapio.css' %}">
  </head>


{% block 'drop'%}


  <p>Busque seu prato pelo ingrediente</p>
  
  <form id="filtro-ingredientes">
    {% for ingrediente in Ingredientes %}
      <label>
        <input type="checkbox" name="ingrediente" value="{{ ingrediente.id }}"> {{ ingrediente.nome }}
      </label><br>
    {% endfor %}
    <br>
    <button type="submit" data-bs-dismiss="offcanvas">Filtrar</button>
    <button type="button" data-bs-dismiss="offcanvas" onclick="limparFiltro()">Limpar</button>
  </form>

  <form method="post" action="{% url 'calcula-frete' %}">
    {% csrf_token %}
    <label for="rua">Rua:</label>
    <input type="text" id="rua" name="rua" required><br>
    <label for="num">Número da Casa:</label>
    <input type="text" id="num" name="num" required><br>
    <label for="city">Cidade:</label>
    <input type="text" id="city" name="city" required><br>
    <button type="submit">Calcular Frete</button>
  </form>
  
  {% if resultado %}
    <p>Resultado do cálculo: {{ resultado }}</p>
  {% endif %}
  
  
{% endblock %}


{% block 'body' %}

<br>
<br>

<div class="row row-cols-1 row-cols-md-3 g-4 mx-4">

  {% for pratos in prato %}
    <div id="{{ pratos.id }}" class="col">
      <div onclick="exibir_form('1')" class="card">
        <img src="{% static ''|add:pratos.foto.url %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" value="{{ pratos.id }}">{{ pratos.nome_prato }}</h5>
          <p>Ingredientes:
            {% for cardapio in pratos.cardapio_set.all %}
              <span class="ingrediente" data-id="{{ cardapio.Ingrediente.id }}">{{ cardapio.Ingrediente.nome }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
</div>
    
  <script src="{% static 'cardapio/js/cardapio.js' %}"></script>  
  <script src="{% static 'general/js/base.js' %}"></script>  
  

{% endblock  %}
