  .body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #250303;
  }
  
  .container-fluid {
  display: flex;
  flex-grow: 1;
  height: 100%;
  background-color: #160A0C;
  }

  .navbar {
  flex-basis: 80px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #e0a912;
  }

  .navbar-brand {
  padding: 1rem;
  text-align: center;
  background-color: #ff002b;
  color: red;
  }

  .navbar-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 1rem;
  background-color: #160A0C;
  }

  .nav-link {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #160A0C;
  }
      
  .content {
  flex-grow: 1;
  padding: 2rem;
  background-color: #160A0C;
  }

  .search-button {
  background-color: #e0a912;
  }

 .nav-link:hover,.nav-link:focus{
  color:#e0a912;
  }

  .navbar-brand:hover,.navbar-brand:focus{
  color:#e0a912;
  }