<!-- templates/analise/flexmonster.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexmonster Integration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flexmonster/flexmonster.css' %}">
    <script src="{% static 'flexmonster/flexmonster.js' %}"></script>
</head>
<body>
    <div id="pivot-container"></div>

    <script>
        let pivot = new Flexmonster({
            container: "#pivot-container",
            componentFolder: "https://cdn.flexmonster.com/",
            width: "100%",
            height: 600,
            toolbar: true,
            report: {
                dataSource: {
                    type: "json",
                    filename: "{% url 'flexmonster_data' %}"
                },
                slice: {
                    reportFilters: [
                            { uniqueName: "cliente_nome" }
                        ],
                    rows: [
                            { uniqueName: "cliente_idade" },
                        ],
                        columns: [
                            { uniqueName: "prato" },
                            { uniqueName: "[Measures]" },
                            { uniqueName: "cliente_cidade" }
                        ],
                    measures: [
                        {
                            uniqueName: "quantidade",
                            aggregation: "sum"
                        }
                    ],

                    flatOrder: [
                        { uniqueName: "cliente_nome" }
                    ]

                }
            }
        });
    </script>
</body>
</html>